/** @format */

.Row > a > img {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  width: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}

.Row > a > img:hover {
  transform: scale(1.1);
}

.Row__title {
  padding-top: 30px;
  padding-bottom: 0px;
  padding-right: 30px;
  color: gray;
}
/* width: 100px;
  

  
  
  max-height: 60%;
  padding-top: 30px;
  padding-left: 500px; */
